    <%- include('./partials/head') %>
    <main>
        <img class="pikachu" src="images/pikachu.svg" alt="pikachu" />
        <div>
            <h1><strong>Find</strong> all your favorite <strong>Pokemon</strong></h1>
            <p>You can know the type of Pokemon, its strengths, disadvantages and abilities</p>
            <a class="link-pokemons" href="#">See pokemons</a>
        </div>
        <a href="#" class="botao-flutuante">
            <img src="images/pokebola.svg" alt="pokebola" />
        </a>
    </main>
</body>
</html>